includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 8
  paths:
    - app
    - database
    - tests

  # (Temporal) silencia el warning del trait genérico de HasFactory
  ignoreErrors:
    - '#HasFactory but does not specify its types#'
    
