includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 8
  paths:
    - app
    - database
    - tests

  ignoreErrors:
    - message: '#uses generic trait\s+Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types#'
      paths:
        - app/Models/Location.php
